<div class="container">
  <h2>About Us</h2>
  <img src="../../../assets/Team.jpg" class="team" alt="Team pohoto" />
  <div>
    <hr />
    We are a group of 40 to 50 self-motivated volunteers ready to contribute to
    our community's welfare and instill leadership qualities among the youth.
    This event aims to unite our entire community, regardless of age and gender,
    in one place to celebrate the joy of sports.
    <hr />
    ನಾವು 40 ರಿಂದ 50 ಸ್ವಯಂ ಪ್ರೇರಿತ ಸ್ವಯಂಸೇವಕರ ಗುಂಪು ನಮ್ಮ ಸಮುದಾಯದ ಕಲ್ಯಾಣಕ್ಕೆ
    ಕೊಡುಗೆ ನೀಡಲು ಮತ್ತು ಯುವಕರಲ್ಲಿ ನಾಯಕತ್ವ ಗುಣಗಳನ್ನು ತುಂಬಲು ಸಿದ್ಧವಾಗಿದೆ. ಈ
    ಕಾರ್ಯಕ್ರಮಕ್ಕೆ ನಮ್ಮ ಇಡೀ ಸಮುದಾಯವನ್ನು, ವಯಸ್ಸು ಮತ್ತು ಲಿಂಗವನ್ನು ಲೆಕ್ಕಿಸದೆ,
    ಕ್ರೀಡೆಯ ಸಂತೋಷವನ್ನು ಆಚರಿಸಲು ಒಂದೇ ಸ್ಥಳದಲ್ಲಿ ಒಂದುಗೂಡಿಸುವ ಗುರಿಯನ್ನು ಹೊಂದಿದೆ.
  </div>
  <hr />
  <h4>Who are We?</h4>
  <iframe
    width="100%"
    height="300px"
    src="https://www.youtube.com/embed/HXvN_d20l8Y?si=1VJbcitb4XdKjeYu"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <hr />
  <h4>Our 2022 Show</h4>
  <iframe
    width="100%"
    height="300px"
    class="youtube"
    src="https://www.youtube.com/embed/o5nCZ-z_RVs?si=NTIHbYpYbB7WWCNE&amp;start=71"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
