.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10%;
}
.radio-selection {
  display: flex;
  gap: 25px;
}
.radio-in {
  height: 15px;
  width: 15px;
  margin-left: 10px;
}

img {
  margin: 10px;
}
.paymentNumber {
  font-size: x-large;
  color: blue;
  margin-top: 10px;
}
.logo_copy {
  width: 20px;
  height: 100%;
}
