<!-- <div class="container" *ngIf="!showConfirmation">
  <span><b>Notice:</b></span>
  <p class="message">
    1. Sports Registeration and Cricket can be done with the same form below.
    <br />
    2. Registration Fee <br />
    For Adults: Rs.100 + Rs.100 ( Only for Cricket Players ) <br />
    For Kids ( Below 13 years ) : Rs. 50
  </p>
  <hr />
  <form action="submit" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fullName">Full Name</label> <span class="required">*</span>
      <input
        type="text"
        id="fullName"
        placeholder="Enter you Full Name"
        class="form-control"
        name="fullName"
        formControlName="fullName"
      />
    </div>

    <div class="form-group">
      <label for="age">Age</label><span class="required">*</span>
      <input
        type="number"
        id="age"
        placeholder="Enter you age"
        class="form-control"
        name="age"
        formControlName="age"
      />
      <div
        class="field-error"
        *ngIf="
          registrationForm.get('age')?.invalid &&
          (registrationForm.get('age')?.dirty ||
            registrationForm.get('age')?.touched)
        "
      >
        <div *ngIf="getAge?.errors?.['required']">Age is required field</div>
        <div *ngIf="getAge?.errors?.['pattern']">
          Player age should be above 5 years and below 100 years
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="contactNumber">Contact Number</label
      ><span class="required">*</span>
      <input
        type="number"
        id="contactNumber"
        placeholder="Enter you Contact Number "
        class="form-control"
        name="contactNumber"
        formControlName="contactNumber"
      />
      <div
        class="field-error"
        *ngIf="
          registrationForm.get('contactNumber')?.invalid &&
          (registrationForm.get('contactNumber')?.dirty ||
            registrationForm.get('contactNumber')?.touched)
        "
      >
        <div *ngIf="getcontactNumber?.errors?.['pattern']">
          Enter a Valid Contact Number
        </div>
        <div *ngIf="getcontactNumber?.errors?.['required']">
          Contact Number should be 10 digits
        </div>
      </div>
    </div>
    <label for="genderSelect">Gender</label><span class="required">*</span>
    <div id="genderSelect" class="radio-selection">
      <div>
        <label class="" for="flexCheckDefault">Male </label>
        <input
          class="radio-in"
          type="radio"
          value="Male"
          formControlName="gender"
          id="flexCheckDefault"
          name="gender"
        />
      </div>
      <div>
        <label class="" for="flexCheckChecked">Female </label>
        <input
          class="radio-in"
          type="radio"
          value="Female"
          formControlName="gender"
          id="flexCheckChecked"
          name="gender"
        />
      </div>
    </div>
    <hr />

    <ng-container *ngIf="registrationForm.get('age')?.value > 12">
      <p class="message">
        <a routerLink="/cricket">Click here for Cricket Rules</a>
      </p>
      <label for="cricket">You want to be in Cricket Team?</label
      ><span class="required">*</span>
      <p>ಕ್ರಿಕೆಟ್ ಟೀಮ್ನಲ್ಲಿ ಆಡಲು ಇಸ್ಟವೆ ?</p>
      <div id="cricket" class="radio-selection">
        <div>
          <label class="" for="flexCheckDefault">Yes</label>
          <input
            class="radio-in"
            type="radio"
            value="Yes"
            formControlName="cricket"
            id="flexCheckDefault"
            name="cricket"
          />
        </div>
        <div>
          <label class="" for="flexCheckChecked">No</label>
          <input
            class="radio-in"
            type="radio"
            value="No"
            formControlName="cricket"
            id="flexCheckChecked"
            name="cricket"
          />
        </div>
      </div>
      <hr />
    </ng-container>

    <ng-container *ngIf="registrationForm.get('cricket')?.value == 'Yes'">
      <label for="cricketType">What do you consider yourself as?</label
      ><span class="required">*</span>
      <div id="cricketType" class="radio-selection">
        <div>
          <label class="" for="cricketType">Batsman </label>
          <input
            class="radio-in"
            type="radio"
            value="batsman"
            formControlName="cricketPlayerType"
            id="cricketType"
            name="cricketPlayerType"
          />
        </div>
        <div>
          <label class="" for="cricketType">Bowler </label>
          <input
            class="radio-in"
            type="radio"
            value="Bowler"
            formControlName="cricketPlayerType"
            id="cricketType"
            name="cricketPlayerType"
          />
        </div>
        <div>
          <label class="" for="cricketType">All-Rounder </label>
          <input
            class="radio-in"
            type="radio"
            value="AllRounder"
            formControlName="cricketPlayerType"
            id="cricketType"
            name="cricketPlayerType"
          />
        </div>
      </div>
      <hr />
    </ng-container>
    <ng-container>
      <label for="payment">Will you complete Payment Online?</label>
      <div id="payment" class="radio-selection">
        <div>
          <label class="" for="paymentType">Online Payment </label>
          <input
            class="radio-in"
            type="radio"
            value="online"
            formControlName="paymentType"
            id="paymentType"
            name="paymentType"
          />
        </div>
        <div>
          <label class="" for="paymentType">Offline Payment </label>
          <input
            class="radio-in"
            type="radio"
            value="offline"
            formControlName="paymentType"
            id="paymentType"
            name="paymentType"
          />
        </div>
      </div>
      <hr />
    </ng-container>
    <ng-container
      *ngIf="registrationForm.get('paymentType')?.value == 'online'"
    >
      <div class="paymentMenthods">
        <img src="../../../assets/phonepe.webp" class="logo" alt="" />
        <img src="../../../assets/gpay.png" class="logo" alt="" />
        <span class="paymentNumber" id="paymentNumber">+91 6360959764</span>
      </div>
      <label for="paymentStaus">Did you complete payment?</label>
      <div id="paymentStaus" class="radio-selection">
        <div>
          <label class="" for="paymentStatus">Yes</label>
          <input
            class="radio-in"
            type="radio"
            value="Yes"
            formControlName="paymentStatus"
            id="paymentStatus"
            name="paymentStatus"
          />
        </div>
        <div>
          <label class="" for="paymentStatus">NO</label>
          <input
            class="radio-in"
            type="radio"
            value="No"
            formControlName="paymentStatus"
            id="paymentStatus"
            name="paymentStatus"
          />
        </div>
      </div>
      <hr />
    </ng-container>

    <div class="buttons">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="!registrationForm.valid"
      >
        Submit
      </button>
      <button class="btn btn-info" type="reset">Reset</button>
    </div>
  </form>
</div>
<app-register-confirm
  *ngIf="showConfirmation"
  [confirmation]="confirmationInfo"
></app-register-confirm> -->
<div class="container">
  <h2>
    Registration will open soon!! 
    
  </h2>
</div>
