<div class="container">
  <div class="notice" *ngIf="gameType != 'general'">
    <h3 class="success">Congratulations !! Payment is Successfull...</h3>
    <h4>Continue to Register</h4>
  </div>

  <div *ngIf="gameType == 'cricket'">
    <iframe
      id="JotFormIFrame-243182187502050"
      title="Form"
      onload="window.parent.scrollTo(0,0)"
      allowtransparency="true"
      allow="geolocation; microphone; camera; fullscreen"
      src="https://form.jotform.com/243182187502050"
      frameborder="0"
      scrolling="yes"
      style="min-width: 100%; max-width: 100%; height: 1800px; border: none"
      scrolling="no"
    >
    </iframe>
    <script src="https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js"></script>
    <script>
      window.jotformEmbedHandler(
        "iframe[id='JotFormIFrame-243182187502050']",
        "https://form.jotform.com/"
      );
    </script>
  </div>
  <div *ngIf="gameType == 'kids'">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSdjxzoskLRt_8-NnU7F8tUxedd-X6UkkSZMBIfHSLu-AdJ0FA/viewform?embedded=true"
      width="100%"
      height="520px"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      >Loading…</iframe
    >
  </div>
  <div *ngIf="gameType == 'general'">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSfza605_VOiTZNZcg_GxDZDLT1D1cyQWBRDCt6ySRS-Vr5miw/viewform?embedded=true"
      width="100%"
      height="520px"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      >Loading…</iframe
    >
  </div>
</div>
