.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10%;
}
.radio-selection {
  display: flex;
  gap: 25px;
}
.radio-in {
  height: 15px;
  width: 15px;
  margin-left: 10px;
}
