<div class="container">
  <h2>Know your Category.</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <td>CATEGORY</td>
        <td>AGE GROUP</td>
        <td>CODE</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.category }}</td>
        <td>{{ category.age }}</td>
        <td>{{ category.code }}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" routerLink="/register">Register</button>
</div>
