<div class="container">
  <h1>Welcome to Registration Desk <i class="fa-solid fa-desktop"></i></h1>
  <div>
    Any problems while Registering <br />

    <p>
      Contact : <a>{{ event.contact_person_number }}</a> ({{
        event.contact_person_name
      }})
    </p>
    <p>
      Email :
      <a href="`mailto:${devangasportsmeet@gmail.com}`">{{ event.email }}</a>
    </p>
  </div>
  <br />
  <hr />
  <div class="gameType-options">
    <label for="sportsSelection"
      ><h2>How can I help you?<br /></h2> </label
    ><span class="required">*</span>
    <div id="sportsSelection" class="radio-selection">
      <div>
        <input
          class="radio-in"
          type="radio"
          value="cricket"
          [(ngModel)]="gameType"
          id="cricket"
          name="cricket"
        />
        <label class="" for="cricket"
          >Cricket Registration ( 16-50 years)
        </label>
      </div>
      <hr />
      <div>
        <input
          class="radio-in"
          type="radio"
          value="kids"
          [(ngModel)]="gameType"
          id="kids"
          name="kids"
        />
        <label class="" for="kids">Kids Registration ( 5-15 years ) </label>
      </div>

      <div>
        <input
          class="radio-in"
          type="radio"
          value="general"
          [(ngModel)]="gameType"
          id="general"
          name="general"
        />
        <label class="" for="general"
          >General Sports Registration( 15+ years)
        </label>
      </div>
    </div>
  </div>
  <br />
  <hr />
  <app-cricket-home *ngIf="gameType == 'cricket'"></app-cricket-home>
  <app-kids-category *ngIf="gameType == 'kids'"></app-kids-category>

  <div *ngIf="gameType" class="termsCondition">
    <hr />
    <input type="checkbox" [(ngModel)]="tc" /> I agree all the terms &
    conditions <br />

    <button [disabled]="!tc" (click)="register()" class="btn btn-primary">
      Register Me
    </button>
  </div>
</div>
