<div class="header">
  <div class="menu-icon">
    <i
      [ngClass]="menuOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'"
      (click)="menuAction()"
    ></i>
  </div>

  <img
    src="../assets/logo1.png"
    (click)="closeMenu()"
    class="logo"
    alt=""
    routerLink=""
  />
</div>
<!--that closes menu when clicked -->
<div class="overlay" *ngIf="menuOpen" (click)="closeMenu()"></div>

<app-side-menu *ngIf="menuOpen" (closeMenu)="menuAction()"></app-side-menu>

<router-outlet></router-outlet>
