.confirmation-box {
  font-weight: 600;
  border-radius: 5px;
  padding: 30px;
  text-align: left;
  margin: auto;
  margin-top: 20%;
  width: 80%;
}

.success {
  color: rgb(2, 57, 2);
  background-color: rgb(124, 232, 124);
  border: 1px solid green;
}
.rejected {
  color: rgb(88, 15, 5);
  background-color: rgb(232, 158, 124);
  border: 1px solid rgb(55, 13, 3);
}
