<div class="container">
  <h1 class="devanga">
    ದೇವಾಂಗ ಕ್ರೀಡೋತ್ಸವ<br />
    <p style="text-align: center"><strong>2023</strong></p>
  </h1>
  <h4>
    <div>
      <img src="../../assets/calender.png" class="logo" alt="" /> 23rd and 24th
      December
    </div>
    <div>
      <img src="../../assets/location.png" class="logo" alt="" /> Railway
      Ground's, Mysuru
    </div>
  </h4>
  <!-- <h2 >
    ದೇವಾಂಗ ಕ್ರೀಡೋತ್ಸವ
    <p><strong></strong></p>
  </h2> -->
  <app-features></app-features>
</div>
