<div class="container body">
  <h1 class="devanga">
    {{ event.name_kannada }}<br />
    <p style="text-align: center">
      <strong>{{ event.year }}</strong>
    </p>
  </h1>
  <h4>
    <div>
      <img src="../../assets/calender.png" class="logo" alt="" href="" />
      {{ event.date }}, {{ event.time }}
    </div>
    <div>
      <img src="../../assets/location.png" class="logo" alt="" />
      <a href="#location">{{ event.location }}</a>
    </div>
  </h4>
  <app-features></app-features>
  <hr />
  <section id="youtube">
    <h3>We are Back again !! {{ event.year }}</h3>
    <iframe
      width="100%"
      height="300px"
      src="https://www.youtube.com/embed/IlBG57fc-y8?si=8rKEayH1XYG-w-IO"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </section>
  <h3>What happened in 2023 ?</h3>
  <iframe
    width="100%"
    height="300px"
    class="youtube"
    src="https://www.youtube.com/embed/UGG5AI3W3AM?si=9MiI3Yzlsil3M3sy&amp;start=71"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <hr />
  <h3>Love for Cricket. Never Dies</h3>
  <iframe
    width="100%"
    height="300px"
    src="https://www.youtube.com/embed/XedcLqveUCU?si=hVhUe1grDRyJkxJe"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <hr />
  <section id="location">
    <h3>Location</h3>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15591.266879407212!2d76.64722849041075!3d12.32811986993202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baf706279fa5c1b%3A0x59633181e0e34232!2sSt.%20Philomena&#39;s%20College!5e0!3m2!1sen!2sin!4v1762447827070!5m2!1sen!2sin"
      width="100%"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </section>
</div>
