.side-menu {
  width: 75%;
  background-color: #e7b144;
  display: block;
  position: absolute;
  top: 50px;
  height: y;

}
.menu-items {
  list-style-type: none;
  //   height: 30px;
  padding: 20px;
  font-size: 25px;
  text-align: left;
}
