.side-menu {
  width: 75%;
  background-color: beige;
  display: block;
  position: absolute;
  top: 50px;
  height: y;
}
.menu-items {
  list-style-type: none;
  //   height: 30px;
  padding: 20px;
  font-size: 30px;
}
